<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse">
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<div class="slide hide">
				<i class="icon-angle-left"></i>
			</div>
			<form class="sidebar-search">
				@*<div class="input-box">
					<input type="text" class="" placeholder="Tìm kiếm" />
					<input type="button" class="submit" value=" " />
				</div>*@
			</form>
			<div class="clearfix"></div>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
			<!-- BEGIN SIDEBAR MENU -->
			<ul>
				<li class="">
					<a href="@Url.Action("Index", "Home", new { Area=""})">
					<i class="icon-home"></i> Trang chủ
					<span class="selected"></span>
					</a>					
				</li>
                @if(ViewBag.IsSinhVien){
				<li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-bookmark-empty"></i> Sinh Viên
					<span class="arrow"></span>
					</a>
					<ul class="sub">
                        <li><a class="" href="@Url.Action("Index", "DangKyHocPhan", new { Area = ""})">Đăng ký học</a></li>
                        <li><a class="" href="@Url.Action("Index", "ThoiKhoaBieu", new { Area = ""})">Thời khóa biểu</a></li>
                        <li><a class="" href="@Url.Action("Index", "ChuongTrinhKhung", new { Area = ""})">Chương trình đào tạo</a></li>

					</ul>
				</li>
                }
                @if(User.IsInRole("Message")){
                <li class="has-sub">
					<a href="@Url.Action("Inbox", "Message", new { Area = ""})" class="">
					<i class="icon-envelope"></i> Tin nhắn
					<span class="arrow"></span>
					</a>
					<ul class="sub">
                        <li><a class="" href="@Url.Action("Compose", "Message", new { Area = ""})">Soạn tin</a></li>
						<li><a class="" href="@Url.Action("Inbox", "Message", new { Area = ""})">Hộp thư đến</a></li>
						<li><a class="" href="@Url.Action("Outbox","Message", new { Area = ""})">Tin đã gửi</a></li>
					</ul>
				</li>
                }

                <li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-search"></i> Tra cứu
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="@Url.Action("Diem", "TraCuu", new { Area = ""})">Kết quả học tập</a></li>
						<li><a class="" href="@Url.Action("ThuChi","TraCuu", new { Area = ""})">Thông tin tài chính</a></li>
					</ul>
				</li>
                @if(User.IsInRole("News")){
                <li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-bullhorn"></i> Trang tin
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="@Url.Action("Create", "News", new { Area = "Admin"})">Tạo mới</a></li>
						<li><a class="" href="@Url.Action("Index","News", new { Area = "Admin"})">Tin đã đăng</a></li>
					</ul>
				</li>
                }
				<li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-table"></i> Quản lý đăng ký học
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						@if(User.IsInRole("MonTinChi")){<li><a class="" href="@Url.Action("Index","MonTinChi", new { Area = "Admin" })">Môn tín chỉ</a></li>}
						@*<li><a class="" href="@Url.Action("Index","LopTinChi", new { Area = "Admin" })">Lớp tín chỉ</a></li>*@
						@if(User.IsInRole("DanhSachLopTC")){<li><a class="" href="@Url.Action("Index","DanhSachLopTC", new { Area = "Admin" })">Danh sách đăng ký</a></li>}
                        @if(User.IsInRole("LopHanhChinh")){<li><a class="" href="@Url.Action("Index","LopHanhChinh", new { Area = "Admin" })">Lớp hành chính</a></li>}
					</ul>
				</li>
				<li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-th-list"></i> Hệ thống
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						@if(User.IsInRole("Role")){<li><a class="" href="@Url.Action("Index","Roles", new { Area = "Admin" })">Quyền</a></li>}
						@if(User.IsInRole("Group")){<li><a class="" href="@Url.Action("Index","Group", new { Area = "Admin" })">Nhóm</a></li>}
						@if(User.IsInRole("User")){<li><a class="" href="@Url.Action("Index","User", new { Area = "Admin" })">Người dùng</a></li>}
					</ul>   
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
<script>
    String.prototype.trim = function () { return this.replace(/^\s+|\s+$/g, ''); };
    $(document).ready(function () {
        $('.has-sub').each(function () {
            if ($(this).find('ul.sub').children().length == 0) {
                $(this).css('display', 'none');
            }
        });
        $('.has-sub>a').click(function (e) {
            e.preventDefault();
            return false;
        });
        var locationPath = location.pathname;
        var actived = false;
        
        $('.page-sidebar .has-sub .sub>li>a').each(function () {
            if (actived)
                return;
            if (locationPath.indexOf($(this).attr('href')) >= 0) {
                actived = true;
                $(this).parent().addClass('active');
                $(this).parent().parent().parent().addClass('active');
                var _parent = $(this).parent().parent().parent().find('>a');
                var parentHtml = '<span class="icon-angle-right"></span><a href="' + _parent.attr('href') + '">' + _parent.text().trim() + "</a>";
                $('.breadcrumb>li').children().last().after(parentHtml);
                $('.breadcrumb>li').children().last().after('<span class="icon-angle-right"></span>'+$(this).parent().html());
            }
        });
        $('.page-sidebar ul>li>a').each(function () {
            if (actived)
                return;
            if (locationPath.indexOf($(this).attr('href')) >= 0) {
                $(this).parent().addClass('active');
            }
        });
    });
</script>