<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse">
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<div class="slide hide">
				<i class="icon-angle-left"></i>
			</div>
			<form class="sidebar-search">
				<div class="input-box">
					<input type="text" class="" placeholder="Tìm kiếm" />
					<input type="button" class="submit" value=" " />
				</div>
			</form>
			<div class="clearfix"></div>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
			<!-- BEGIN SIDEBAR MENU -->
			<ul>
				<li class="">
					<a href="index.html">
					<i class="icon-home"></i> Dashboard
					<span class="selected"></span>
					</a>					
				</li>
                @if(User.IsInRole("SinhVien")){
				<li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-bookmark-empty"></i> Tra cứu
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="@Url.Action("Diem", "TraCuu", new { Area = ""})">Điểm</a></li>
						<li><a class="" href="@Url.Action("ThuChi","TraCuu", new { Area = ""})">Hành chính</a></li>
					</ul>
				</li>
                }
            @if (User.IsInRole("Dashboard") || User.IsInRole("RootAdmin"))
            {
				<li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-table"></i> Quản lý đăng ký học
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						@if(User.IsInRole("MonTinChi.Index")){ <li><a class="" href="@Url.Action("Index","MonTinChi", new { Area = "Admin" })">Môn tín chỉ</a></li>}
						@if(User.IsInRole("LopTinChi.Index")){ <li><a class="" href="@Url.Action("Index","LopTinChi", new { Area = "Admin" })">Lớp tín chỉ</a></li>}
						@if(User.IsInRole("DanhSachLopTC.Index")){ <li><a class="" href="@Url.Action("Index","DanhSachLopTC", new { Area = "Admin" })">Danh sách SV đăng ký</a></li>}
					</ul>
				</li>
                if(User.IsInRole("RootAdmin")){
				<li class="has-sub">
					<a href="javascript:;" class="">
					<i class="icon-th-list"></i> Hệ thống
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						@if(User.IsInRole("Roles.Index")){ <li><a class="" href="@Url.Action("Index","Roles", new { Area = "Admin" })">Quyền</a></li> }
						@if(User.IsInRole("Group.Index")){ <li><a class="" href="@Url.Action("Index","Group", new { Area = "Admin" })">Nhóm</a></li>}
						@if(User.IsInRole("User.Index")){ <li><a class="" href="@Url.Action("Index","User", new { Area = "Admin" })">Người dùng</a></li>}
					</ul>   
				</li>
                }
            }
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
<script>
    $(document).ready(function () {
        $('.has-sub').each(function () {
            if ($(this).find('ul.sub').children().length == 0) {
                $(this).css('display', 'none');
            }
        });
        var locationPath = location.pathname;
        $('.has-sub .sub>li>a').each(function () {
            if (locationPath.indexOf($(this).attr('href')) >= 0) {
                $(this).parent().addClass('active');
                $(this).parent().parent().parent().addClass('active');
            }
        });
    });
</script>