@model StudentPortal.PLAN_LopTinChi_TC

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Delete</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
                <!-- BEGIN FORM-->
				@using (Html.BeginForm("DeleteConfirmed", "LopTinChi", FormMethod.Post, new { @class = "form-horizontal" }))
	{


    <div class="control-group">
            @Html.LabelFor(model => model.ID_lop_lt, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.ID_lop_lt, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.ID_mon_tc, "PLAN_MonTinChi_TC", new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.ID_mon_tc, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.STT_lop, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.STT_lop, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.So_sv_min, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.So_sv_min, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.So_sv_max, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.So_sv_max, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.Tu_ngay, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Tu_ngay, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.Den_ngay, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Den_ngay, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.Ca_hoc, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Ca_hoc, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.So_tiet_tuan, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.So_tiet_tuan, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.ID_phong, "PLAN_PhongHoc", new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.ID_phong, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.ID_cb, "PLAN_GiaoVien", new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.ID_cb, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.Huy_lop, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Huy_lop, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.Ly_do, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Ly_do, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.Nhom_dang_ky, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Nhom_dang_ky, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.Ngay_thi, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Ngay_thi, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>


    <div class="control-group">
            @Html.LabelFor(model => model.Cho_trong, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Cho_trong, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

        <div class="form-actions">
            <input type="submit" class="btn red" value="Delete" />
            @Html.ActionLink("Cancel", "Index",new{},new { @class = "btn" })
        </div>
}
			</div>
		</div>
	</div>
</div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        
    </p>
}
