@model IEnumerable<StudentPortal.PLAN_LopTinChi_TC>

@{
    ViewBag.Title = "Index";
}




<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_lop_tc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_lop_lt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLAN_MonTinChi_TC.Ky_hieu_lop_tc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STT_lop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_sv_min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_sv_max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tu_ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Den_ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ca_hoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_tiet_tuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_phong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_cb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huy_lop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ly_do)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhom_dang_ky)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay_thi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cho_trong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_lop_tc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_lop_lt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLAN_MonTinChi_TC.Ky_hieu_lop_tc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STT_lop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.So_sv_min)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.So_sv_max)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tu_ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Den_ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ca_hoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.So_tiet_tuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_phong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_cb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huy_lop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ly_do)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nhom_dang_ky)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay_thi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cho_trong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
