@model StudentPortal.PLAN_GiaoVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PLAN_GiaoVien</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ma_cb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ma_cb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ho_ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ho_ten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_gioi_tinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_gioi_tinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ngay_sinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ngay_sinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STU_Khoa.Ma_khoa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STU_Khoa.Ma_khoa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_hoc_ham)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_hoc_ham)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_hoc_vi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_hoc_vi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_chuc_danh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_chuc_danh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_chuc_vu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_chuc_vu)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
