@model StudentPortal.PLAN_GiaoVien

@{
    ViewBag.Title = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Edit</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				@using (Html.BeginForm("Edit", "GiaoVien", FormMethod.Post, new { @class = "form-horizontal" }))
	{
					@Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ID_cb)

        <div class="control-group">
            @Html.LabelFor(model => model.Ma_cb, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Ma_cb, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ma_cb)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Ten, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Ten, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ten)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Ho_ten, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Ho_ten, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ho_ten)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.ID_gioi_tinh, "STU_GioiTinh", new { @class = "control-label" })
			<div class="controls">
					@Html.DropDownList("ID_gioi_tinh", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_gioi_tinh)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Ngay_sinh, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Ngay_sinh, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ngay_sinh)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.ID_khoa, "STU_Khoa", new { @class = "control-label" })
			<div class="controls">
					@Html.DropDownList("ID_khoa", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_khoa)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.ID_hoc_ham, "PLAN_HocHam", new { @class = "control-label" })
			<div class="controls">
					@Html.DropDownList("ID_hoc_ham", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_hoc_ham)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.ID_hoc_vi, "PLAN_HocVi", new { @class = "control-label" })
			<div class="controls">
					@Html.DropDownList("ID_hoc_vi", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_hoc_vi)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.ID_chuc_danh, "PLAN_ChucDanh", new { @class = "control-label" })
			<div class="controls">
					@Html.DropDownList("ID_chuc_danh", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_chuc_danh)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.ID_chuc_vu, "PLAN_ChucVu", new { @class = "control-label" })
			<div class="controls">
					@Html.DropDownList("ID_chuc_vu", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_chuc_vu)
			</div>
		</div>
        <div class="form-actions">
				<button class="btn blue" type="submit">Save</button>
				@Html.ActionLink("Cancel", "Index",new{},new { @class = "btn" })
			</div>
}

		</div>
		</div>
	</div>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
