@model IEnumerable<StudentPortal.PLAN_GiaoVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@(Html.Kendo().Grid<StudentPortal.PLAN_GiaoVien>()
	.Name("PLAN_GiaoVien")
	.Columns(columns =>
	{
			columns.Bound(model => model.Ma_cb);
				columns.Bound(model => model.Ten);
				columns.Bound(model => model.Ho_ten);
				columns.Bound(model => model.ID_gioi_tinh);
				columns.Bound(model => model.Ngay_sinh);
				columns.Bound(model => model.STU_Khoa.Ma_khoa);
				columns.Bound(model => model.ID_hoc_ham);
				columns.Bound(model => model.ID_hoc_vi);
				columns.Bound(model => model.ID_chuc_danh);
				columns.Bound(model => model.ID_chuc_vu);
			})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "GiaoVien"))
	)
)

	</div>
</div>

@*
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_cb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ho_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_gioi_tinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay_sinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STU_Khoa.Ma_khoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_hoc_ham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_hoc_vi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_chuc_danh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_chuc_vu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_cb }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_cb }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_cb })
        </td>
    </tr>
}

</table>
*@
