@{
    ViewBag.Title = "Thời khóa biểu";
}
<div class="row-fluid">
    <div class="span12">
        <p>
            <span>Chọn chuyên ngành: </span>
            @(Html.Kendo().DropDownList()
    .Name("ID_dt")
    .OptionLabel("Chọn chuyên ngành")
    .DataTextField("Text")
    .DataValueField("Value")
    .HtmlAttributes(new { style = "width:200px;" })
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("getChuyenNganh", "ThoiKhoaBieu");
        })
        ;
    })
    .Events(e =>
    {
        //e.DataBound("chonChuyenNganh");
        e.Change("reloadScheduler");
    })
)
            @(Html.Kendo().DropDownList()
            .Name("KyDangKy")
            .OptionLabel("Chọn học kỳ đăng ký")
            .DataTextField("Text")
            .DataValueField("Value")
            .HtmlAttributes(new { style = "width:150px;" })
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("getHocKyDK", "ThoiKhoaBieu").Data("getFilters");
                })
                .ServerFiltering(true);
            })
            .CascadeFrom("ID_dt")
            )
            
            @(Html.Kendo().DropDownList()
    .Name("IDGiaiDoan")
    .DataTextField("Text")
    .OptionLabel("Chọn giai đoạn")
    .DataValueField("Value")
    .HtmlAttributes(new { style = "width:200px;" })
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("getGiaiDoan", "ThoiKhoaBieu").Data("getFilters");
        });
    })
    .Events(e =>
    {
        e.Change("reloadScheduler");
    })
    .AutoBind(false)
)
        </p>
        <p style="overflow: hidden"><a href="#modalLopTC" data-toggle="modal" class="btn red pull-right" id="btnChiTietHP">Xem chi tiết học phần</a></p>
        <script>
            var Thu = ["Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"]; //Array();
            var Tong_so_tiet = '@ViewBag.Tong_so_tiet';
            var Tiet = Array();
            for (var i = 1; i <= Tong_so_tiet; i++)
                Tiet[i - 1] = "Tiết " + i;
            var idThu = 0;
            var idTiet = 0;
        </script>
        @(Html.Kendo().Scheduler<StudentPortal.ViewModels.ThoiKhoaBieu>()
    .Name("scheduler")

    .StartTime(DateTime.Now.Date)
    .EndTime(DateTime.Now.Date.AddHours((int)ViewBag.Tong_so_tiet))
    .DateHeaderTemplate("<strong># if(idThu==7) idThu=0; # #=Thu[idThu]# # idThu++; #</strong>")
    .MajorTimeHeaderTemplate("# if(idTiet==Tong_so_tiet) idTiet=0; # #=Tiet[idTiet]# # idTiet++;# ")
    .EventTemplate("<div class=\"time_event\" data-color=\"#=Color#\"><dl><dd>#= title #<dd></dl></div>")
    .Views(views =>
    {
        views.WeekView(); 
    })
    .Editable(false)
    .Events(e => {
        e.DataBound("onDataBound");
    })
    .DataSource(d => d
        .Model(m =>
        {
            m.Id(f => f.Id);
            m.Field(f => f.ID_lop_tc).DefaultValue(1);
        })
        .Read(read=>read.Action("getThoiKhoaBieu", "ThoiKhoaBieu").Data("getFilters"))
    )
    
)
        <p></p>
    </div>
</div>
<div id="modalLopTC" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3 id="myModalLabel1">Chi tiết học phần đăng ký</h3>
	</div>
	<div class="modal-body">
		@(Html.Kendo().Grid<StudentPortal.ViewModels.LopTinChiViewModel>()
            .Name("GridChiTietHocPhan")
            .Columns(column =>
            {
                column.Bound(t => t.Ten_lop_tc);
                column.Bound(t => t.So_tin_chi).Width(50);
                column.Bound(t => t.Hoc_phi).Width(80);
                //column.Bound(t => t.Chi_tiet);
                //column.Bound(t => t.Ten_lop_tc);
            })
            .DataSource(source => {
                source.Ajax().Read(read => {
                    read.Action("getChiTietHocPhan", "DangKyHocPhan", new { Area = ""}).Data("getFilters");
                });
            })
            .Filterable()
            .Sortable()
        )
    </div>
	<div class="modal-footer">
		@*<button class="btn yellow" id="btnXacNhanChuyen">Chuyển</button>*@
        <button class="btn" data-dismiss="modal" aria-hidden="true">Đóng</button>
	</div>
</div>
<script>
    function deleteNotUseElements() {
        $('.k-reset.k-header.k-toolbar.k-scheduler-navigation').css("display", "none");
        $('.k-scheduler-table.k-scheduler-header-all-day').css("display", "none");
        $('.k-scheduler-times-all-day').parent().css("display", "none");
    }
    function onDataBound(e) {
        $('.time_event').each(function () {
            $(this).parent().css('background-color', $(this).attr('data-color'));
        })
    }

    function reloadScheduler(e) {
        $("#scheduler").data("kendoScheduler").dataSource.read();
    }

    function getFilters() {
        return {
            ID_dt: $('#ID_dt').val(),
        }
    }
    $(document).ready(function () {
        deleteNotUseElements();
        $('#btnChiTietHP').click(function () {
            $('#GridChiTietHocPhan').data('kendoGrid').dataSource.read();
        });
    });
</script>
