@model StudentPortal.STU_DanhSachLopTinChi

@{
    ViewBag.Title = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Edit</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				@using (Html.BeginForm("Edit", "DanhSachLopTinChi", FormMethod.Post, new { @class = "form-horizontal" }))
	{
					@Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ID)

        <div class="control-group">
            @Html.LabelFor(model => model.ID_lop_tc, "PLAN_LopTinChi_TC", new { @class = "control-label" })
			<div class="controls">
					@Html.DropDownList("ID_lop_tc", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_lop_tc)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.ID_sv, "STU_HoSoSinhVien", new { @class = "control-label" })
			<div class="controls">
					@Html.DropDownList("ID_sv", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_sv)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Hoc_lai, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Hoc_lai, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Hoc_lai)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Duyet, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Duyet, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Duyet)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Huy_dang_ky, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Huy_dang_ky, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Huy_dang_ky)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Ly_do, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Ly_do, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ly_do)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Rut_bot_hoc_phan, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Rut_bot_hoc_phan, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Rut_bot_hoc_phan)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Chuyen_nganh2, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Chuyen_nganh2, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Chuyen_nganh2)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.CLC, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.CLC, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.CLC)
			</div>
		</div>
        <div class="form-actions">
				<button class="btn blue" type="submit">Save</button>
				@Html.ActionLink("Cancel", "Index",new{},new { @class = "btn" })
			</div>
}

		</div>
		</div>
	</div>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
