
@{
    ViewBag.Title = "Trang tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    StudentPortal.ViewModels.NewsViewModel News = (StudentPortal.ViewModels.NewsViewModel)ViewBag.News;
}
<div class="container-fluid">
    <div class="rows-fluid">
        <div class="portlet box green">
            <div class="portlet-title">
                <h4>
                    <i class="icon-file"></i>
                    @News.Title;
                </h4>
                <div class="pull-right"><i>@News.PostDate.ToString("hh:mm dd/MM/yyyy")</i></div>
            </div>
            <div class="portlet-body">
                <div style="overflow:hidden">
                    @if(News.Description!=null && News.Description.Length>0){
                    <div class="well">
                        <p>@(new HtmlString(News.Description))</p>
                    </div>
                    }
                </div>
                <div class="">@(new HtmlString(News.Contents))</div>
                <address>
                <div class="span4 well pull-right">
                    <strong><i>@News.User</i></strong>
                </div>
                </address>
            </div>

        </div>
        
    </div>
</div>