@model StudentPortal.STU_XeploaiRenLuyen

@{
    ViewBag.Title = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Edit</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				@using (Html.BeginForm("Edit", "XeploaiRenLuyen", FormMethod.Post, new { @class = "form-horizontal" }))
	{
					@Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ID_xep_loai)

        <div class="control-group">
            @Html.LabelFor(model => model.Xep_loai, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Xep_loai, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Xep_loai)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Tu_diem, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Tu_diem, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Tu_diem)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.Den_diem, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.Den_diem, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Den_diem)
			</div>
		</div>
        <div class="control-group">
            @Html.LabelFor(model => model.He_so, new { @class = "control-label" })
			<div class="controls">
					@Html.TextBoxFor(model => model.He_so, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.He_so)
			</div>
		</div>
        <div class="form-actions">
				<button class="btn blue" type="submit">Save</button>
				@Html.ActionLink("Cancel", "Index",new{},new { @class = "btn" })
			</div>
}

		</div>
		</div>
	</div>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
