@model StudentPortal.STU_HoSoNop

@{
    ViewBag.Title = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Create</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				@using (Html.BeginForm("Create", "HoSoNop", FormMethod.Post, new { @class = "form-horizontal" }))
	{
					@Html.ValidationSummary(true)

        <div class="control-group">
					@Html.LabelFor(model => model.ID_giay_to, "STU_LoaiGiayTo", new { @class = "control-label" })
				<div class="controls">
					@Html.DropDownList("ID_giay_to", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_giay_to)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Ban_chinh, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Ban_chinh, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ban_chinh)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Ban_sao, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Ban_sao, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ban_sao)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Ghi_chu_nop, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Ghi_chu_nop, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ghi_chu_nop)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Ghi_chu_tra, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Ghi_chu_tra, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ghi_chu_tra)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Da_tra, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Da_tra, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Da_tra)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Ngay_tra, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Ngay_tra, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ngay_tra)
			</div>
		</div>
			<div class="form-actions">
				<button class="btn blue" type="submit">Create</button>
				<button class="btn" type="button">Cancel</button>
			</div>
}

			</div>
		</div>
	</div>
</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
