@{
    ViewBag.Title = "Danh sách lớp tín chỉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span12">
        <p>
            @(Html.Kendo().DropDownList()
    .OptionLabel("Chọn hệ đào tạo")
    .Name("He")
    .DataTextField("Text")
    .DataValueField("Value")
    .HtmlAttributes(new { style = "width: 200px" })
    .DataSource(source =>
    {
        source.Read("getHeDaoTao", "DanhSachLopTC");
    })
)

            @(Html.Kendo().DropDownList()
    .OptionLabel("Chọn chuyên ngành")
    .Name("ChuyenNganh")
    .DataTextField("Text")
    .DataValueField("Value")
    .HtmlAttributes(new { style = "width: 200px" })
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("getChuyenNganh", "DanhSachLopTC").Data("getFilters");
        })
        .ServerFiltering(true);
    })
    .CascadeFrom("He")
    .AutoBind(false)
)


            @(Html.Kendo().DropDownList()
    .OptionLabel("Chọn kỳ đăng ký")
    .Name("KyDangKy")
    .DataTextField("Text")
    .DataValueField("Value")
    .DataSource(source =>
    {
        source.Read("getKyDangKy", "DanhSachLopTC")
        .ServerFiltering(true);
    })
    .CascadeFrom("ChuyenNganh")
    .AutoBind(false)
)

            @(Html.Kendo().DropDownList()
    .OptionLabel("Chọn môn tín chỉ")
    .Name("MonTC")
    .DataTextField("Text")
    .DataValueField("Value")
    .HtmlAttributes(new { style = "width:300px" })
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("getMonTC", "DanhSachLopTC").Data("getFilters").Data("getFilters");
        }).ServerFiltering(true);
    })
    .AutoBind(false)
    .CascadeFrom("KyDangKy")
    .Events(e=>{
        e.Change("MonTC_change");
    })
)            
        </p>
        
        <div style="overflow:hidden">
            <div class="span6">
                @(Html.Kendo().Grid<StudentPortal.ViewModels.LopTinChiViewModel>()
                    .Name("GridLopTC")
                    .Columns(column =>
                    {
                        column.Bound(t => t.Ten_lop_tc);
                        column.Bound(t => t.So_sv_max);
                        column.Bound(t => t.Da_dang_ky);
                    })
                    .DataSource(source =>
                    {
                        source.Ajax().Read(read =>
                        {
                            read.Action("getLopTC", "DanhSachLopTC").Data("getFilters");
                        });
                    })
                    .Groupable()
                    .Pageable()
                    .Sortable()
                    .Selectable()
                    .Pageable(pager => pager.PageSizes(new int[] { 10, 20, 30 }))
                    .Filterable()
                    .Events(e=>{
                        e.Change("LopTC_change");
                    })
                    .Scrollable()
                )
            </div>
        
            <div class="span6">
                @(Html.Kendo().Grid<StudentPortal.ViewModels.SinhVienViewModel>()
                    .Name("GridSinhVien")
                    .Columns(column =>
                    {
                        column.Template(@<text></text>)
                            .ClientTemplate(@"<input type='checkbox' value='#=ID_sv#' class='checkRow'/>")
                            .HeaderTemplate(@"<input type='checkbox' class='checkAll'/>")
                            .Width(30)
                            ;
                        column.Bound(t => t.Ma_sv)
                            .Width(60)
                            ;
                        column.Bound(t => t.Ho_ten)
                            ;
                        column.Bound(t => t.Lop)
                            .Width(90)
                            ;
                        column.Template(@<text></text>).ClientTemplate(@"#
                            var label = 'Xác nhận';
                            var action = 'DuyetDK';
                            if(Duyet==1)
                            {
                                action = 'BoDuyetDK';
                                label = 'Hủy';
                            }
                            #<a class='k-button-icontext k-button btnDuyet' href='javascript:;' ID_sv='#=ID_sv#' data-action='#=action#'>#=label#</a>")
                            .Width(90)
                            ;
                    })
                    .DataSource(source =>
                    {
                        source.Ajax().Read(read =>
                        {
                            read.Action("getSinhVienDK", "DanhSachLopTC").Data("getFilters");
                        });
                    })
    
                    .Groupable()
                    .Pageable()
                    .Sortable()
                    .Selectable()
                    
                    .Pageable(pager => pager.PageSizes(new int[]{10,20,30})
                      )
                    .Events(e =>
                    {
                        e.DataBound("onDataBound");
                    })
                    .Filterable()
                    .Scrollable()
                )
            </div>
        </div>
        <p></p>
        <p>
            <a href="javascript:;" class="btnDuyetSelected btn purple" data-action="DuyetDKs">Duyệt</a> &nbsp;
            <a href="javascript:;" class="btnDuyetSelected btn" data-action="BoDuyetDKs">Bỏ duyệt</a>&nbsp;
            <a href="javascript:;" class="btn blue" id="btnChuyenLop">Chuyển lớp</a>
            <a href="#modalLopTC" id="modalChuyenLop" data-toggle="modal" style="display:none"></a>
        </p>
    </div>
</div>
<div id="modalLopTC" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3 id="myModalLabel1">Chuyển lớp tín chỉ</h3>
	</div>
	<div class="modal-body">
		@(Html.Kendo().DropDownList()
            .Name("DropDownLopTc")
            .OptionLabel("Chọn lớp tín chỉ")
            .DataTextField("Text")
            .DataValueField("Value")

            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("getLopTCKhac", "DanhSachLopTC").Data("getFilters");
                })
                .ServerFiltering(true);
            })
            .AutoBind(false)
            .HtmlAttributes(new { style="width:300px"})
        )
    </div>
	<div class="modal-footer">
		<button class="btn yellow" id="btnXacNhanChuyen">Chuyển</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Đóng</button>
	</div>
</div>
<script type="text/javascript">
    var selectedIDs = {};
    var seletedIdLop = 0;
    function isSelectedIDsEmpty() {
        for (var i in selectedIDs)
            if (selectedIDs[i])
                return false;
        return true;
    }
    function LopTC_change(arg) {
        var selected = $.map(this.select(), function (item) {
            return $(item);
        });
        var item = this.dataItem(selected[0]);
        seletedIdLop = item.ID_lop_tc;
        selectedIDs = {};
        $('#GridSinhVien').data("kendoGrid").dataSource.read();
        
    }
    function MonTC_change(e)
    {
        $('#GridLopTC').data("kendoGrid").dataSource.read();
    }
    function onDataBound(e) {
        $('.checkRow').each(function (e) {
            if (selectedIDs[$(this).val()]) {
                $(this).attr('checked', true);
            }
        });
        checkAll(true);
    }
    function checkAll(checked) {

        var checkAll = false;
        if (checked) {
            var checkAll = true;
            $('.checkRow').each(function (e) {
                if (!selectedIDs[$(this).val()]) checkAll = false;
            });

        }
        $('.checkAll').attr('checked', checkAll);
        if (checkAll) $('.checkAll').parent().addClass('checked');
        else $('.checkAll').parent().removeClass('checked');
    }
    $(document).ready(function () {
        $('#btnChuyenLop').click(function () {
            if (isSelectedIDsEmpty()) {
                alert("Không có sinh viên nào được chọn");
                return;
            }
            $('#modalChuyenLop').click();
        });
        $('.checkAll').change(function () {
            var checked = $(this).attr('checked') == 'checked';
            $('.checkRow').attr('checked', checked);
            $('.checkRow').each(function () {
                selectedIDs[$(this).val()] = checked;
            });
        });
        $('.checkRow').live('click', function () {
            var checked = $(this).attr('checked') == 'checked';
            selectedIDs[$(this).val()] = checked;
            checkAll(checked);
        });
        $('.btnDuyetSelected').click(function () {
            if (isSelectedIDsEmpty()) {
                alert("Không có sinh viên nào được chọn");
                return;
            }
            var IDs = [];
            var i=0;
            for (var id in selectedIDs)
                if (selectedIDs[id]) IDs[i++] = id;
            $.ajax({
                url: '/Admin/DanhSachLopTC/' + $(this).attr('data-action'),
                data: {
                    IDs: IDs.join(),
                    ID_lop_tc: seletedIdLop,
                },
                dataType: 'json',
                success: function (o) {
                    alert(o.Message);
                    $('#GridSinhVien').data("kendoGrid").dataSource.read();

                }
            });
        });
        $('.btnDuyet').live('click',function () {
            $.ajax({
                url: '/Admin/DanhSachLopTC/' + $(this).attr('data-action'),
                dataType: 'json',
                data: {
                    ID_sv: $(this).attr('ID_sv'),
                    ID_lop_tc: seletedIdLop,
                },
                success: function (o) {
                    alert(o.Message);
                    $('#GridSinhVien').data("kendoGrid").dataSource.read();
                }
            });
        });
    })
    function getFilters() {
        return {
            ID_he: $('#He').val(),
            ID_chuyen_nganh: $('#ChuyenNganh').val(),
            Ky_dang_ky: $('#KyDangKy').val(),
            ID_mon: $('#MonTC').val(),
            ID_lop_tc: seletedIdLop,
        };
    }
    function Edit(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
        location.href = '@Url.Action("Edit", "DanhSachLopTC")/' + dataItem.ID_lop_tc;
    }
    function Delete(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest('tr'));
        location.href = '@Url.Action("Delete", "DanhSachLopTC")/' + dataItem.ID_lop_tc;
    }
</script>
