@{
    ViewBag.Title = ViewBag.Message.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4>
                    <i class="icon-envelope"></i>
                    @ViewBag.Message.Title
                </h4>
                <i class="pull-right">@ViewBag.Message.Postdate.ToString("hh:mm dd/MM/yyyy")</i>
            </div>
            <div class="portlet-body">
                <div class="alert alert-block alert-info fade in">
                    @(new HtmlString(ViewBag.Message.Contents))
                </div>
                <p>
                    @if(ViewBag.Message.Type==StudentPortal.InboxModel.INBOX){
                        <a href="@Url.Action("Compose", "Message", new { Area="", ToUser = ViewBag.FromUser})" class="btn blue">Trả lời</a>
                    }
                    <a href="@Url.Action("Compose", "Message", new { Area=""})" class="btn green">Chuyển tiếp</a>
                    <a href="@Url.Action("Inbox", "Message", new { Area=""})" class="btn">Hộp thư đến</a>

                </p>
                <div class="well span4 pull-right">
                    <strong><i>@ViewBag.Message.From</i></strong>
                </div>
            </div>
        </div>
    </div>
</div>
