@model StudentPortal.STU_NoiNgoaiTru

@{
    ViewBag.Title = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Details</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
			<form class="form-horizontal" action="#">

    <div class="control-group">
            @Html.LabelFor(model => model.Tu_ngay, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Tu_ngay, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

    <div class="control-group">
            @Html.LabelFor(model => model.Den_ngay, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Den_ngay, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

    <div class="control-group">
            @Html.LabelFor(model => model.ID_phong_ktx, "STU_PhongKyTucXa", new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.ID_phong_ktx, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

    <div class="control-group">
            @Html.LabelFor(model => model.Dia_chi, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Dia_chi, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

    <div class="control-group">
            @Html.LabelFor(model => model.Dien_thoai, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Dien_thoai, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

    <div class="control-group">
            @Html.LabelFor(model => model.Ten_chu_ho, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Ten_chu_ho, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

    <div class="control-group">
            @Html.LabelFor(model => model.Ghi_chu, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Ghi_chu, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

    <div class="control-group">
            @Html.LabelFor(model => model.Trang_thai, new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Trang_thai, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>

    <div class="control-group">
            @Html.LabelFor(model => model.ID_phuong, "STU_Phuong", new { @class = "control-label" })
		<div class="controls">
			@Html.TextBoxFor(model => model.ID_phuong, new { @class = "medium m-wrap",disabled="" })
		</div>
	</div>
					<div class="form-actions">
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID_sv },new { @class = "btn blue" }) |
                        @Html.ActionLink("Cancel", "Index",new{},new { @class = "btn" })
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

