@model StudentPortal.STU_DanhhieuThiDuaCaNhan

@{
    ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Create</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				@using (Html.BeginForm("Create", "DanhhieuThiDuaCaNhan", FormMethod.Post, new { @class = "form-horizontal" }))
	{
					@Html.ValidationSummary(true)

        <div class="control-group">
					@Html.LabelFor(model => model.Hoc_ky, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Hoc_ky, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Hoc_ky)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Nam_hoc, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Nam_hoc, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Nam_hoc)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.TBCHT, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.TBCHT, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.TBCHT)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.DRL, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.DRL, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.DRL)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.TBCMR, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.TBCMR, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.TBCMR)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.ID_danh_hieu, "STU_DanhHieu", new { @class = "control-label" })
				<div class="controls">
					@Html.DropDownList("ID_danh_hieu", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_danh_hieu)
			</div>
		</div>
			<div class="form-actions">
				<button class="btn blue" type="submit">Xác nhận</button>
				@Html.ActionLink("Hủy bỏ", "Index", new { }, new { @class="btn" })
			</div>
}

			</div>
		</div>
	</div>
</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
