@model StudentPortal.STU_Lop

@{
    ViewBag.Title = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Create</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				@using (Html.BeginForm("Create", "Lop", FormMethod.Post, new { @class = "form-horizontal" }))
	{
					@Html.ValidationSummary(true)

        <div class="control-group">
					@Html.LabelFor(model => model.Ten_lop, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Ten_lop, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ten_lop)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.ID_he, "STU_He", new { @class = "control-label" })
				<div class="controls">
					@Html.DropDownList("ID_he", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_he)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.ID_khoa, "STU_Khoa", new { @class = "control-label" })
				<div class="controls">
					@Html.DropDownList("ID_khoa", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_khoa)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.ID_chuyen_nganh, "STU_ChuyenNganh", new { @class = "control-label" })
				<div class="controls">
					@Html.DropDownList("ID_chuyen_nganh", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_chuyen_nganh)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Khoa_hoc, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Khoa_hoc, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Khoa_hoc)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Nien_khoa, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Nien_khoa, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Nien_khoa)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.ID_dt, "STU_DoiTuong", new { @class = "control-label" })
				<div class="controls">
					@Html.DropDownList("ID_dt", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_dt)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.So_sv, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.So_sv, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.So_sv)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Ra_truong, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Ra_truong, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ra_truong)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Ca_hoc, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Ca_hoc, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ca_hoc)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.ID_phong, "PLAN_PhongHoc", new { @class = "control-label" })
				<div class="controls">
					@Html.DropDownList("ID_phong", String.Empty)
					@Html.ValidationMessageFor(model => model.ID_phong)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Ho_ten_gv, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Ho_ten_gv, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Ho_ten_gv)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Dien_thoai, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Dien_thoai, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Dien_thoai)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Email, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Email, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Email)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Tinh_chat, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Tinh_chat, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Tinh_chat)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Lop_chuyen_nganh, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Lop_chuyen_nganh, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Lop_chuyen_nganh)
			</div>
		</div>
        <div class="control-group">
					@Html.LabelFor(model => model.Lop_hanh_chinh, new { @class = "control-label" })
				<div class="controls">
					@Html.TextBoxFor(model => model.Lop_hanh_chinh, new { @class = "medium m-wrap" })
					@Html.ValidationMessageFor(model => model.Lop_hanh_chinh)
			</div>
		</div>
			<div class="form-actions">
				<button class="btn blue" type="submit">Create</button>
				<button class="btn" type="button">Cancel</button>
			</div>
}

			</div>
		</div>
	</div>
</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
