@model StudentPortal.MARK_MonHoc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MARK_MonHoc</legend>

        @Html.HiddenFor(model => model.ID_mon)

        <div class="editor-label">
            @Html.LabelFor(model => model.Ky_hieu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ky_hieu)
            @Html.ValidationMessageFor(model => model.Ky_hieu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ten_mon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ten_mon)
            @Html.ValidationMessageFor(model => model.Ten_mon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ten_tieng_anh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ten_tieng_anh)
            @Html.ValidationMessageFor(model => model.Ten_tieng_anh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_bm, "PLAN_BoMon")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_bm", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_bm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_he_dt, "STU_He")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_he_dt", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_he_dt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_nhom_hp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_nhom_hp)
            @Html.ValidationMessageFor(model => model.ID_nhom_hp)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
