@model IEnumerable<StudentPortal.MARK_MonHoc>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">

		<h2>Index</h2>

		<p>
			@Html.ActionLink("Create New", "Create")
		</p>

		@(Html.Kendo().Grid<StudentPortal.MARK_MonHoc>()
	.Name("MonHoc")
	.Columns(columns =>
	{
		columns.Bound(t => t.Ky_hieu);
		columns.Bound(t => t.Ten_mon);
		columns.Bound(t => t.PLAN_BoMon.Bo_mon);
		columns.Bound(t => t.STU_He.Ten_he);
	})
	.Groupable()
	.Pageable()
	.Sortable()
	.DataSource(
		dataSource => dataSource.Ajax()
			.Read(read => read.Action("Read", "MonHoc"))
	)
)

	</div>
</div>


@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ky_hieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_mon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_tieng_anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLAN_BoMon.Ma_bo_mon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STU_He.Ma_he)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_nhom_hp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ky_hieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_mon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_tieng_anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLAN_BoMon.Ma_bo_mon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STU_He.Ma_he)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_nhom_hp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_mon }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_mon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_mon })
        </td>
    </tr>
}

</table>*@
