@model StudentPortal.MARK_MonHoc

@{
	ViewBag.Title = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>*@


<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<h4><i class="icon-reorder"></i>Create</h4>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				@using (Html.BeginForm("Create", "MonHoc", FormMethod.Post, new { @class = "form-horizontal" }))
	{
					@Html.ValidationSummary(true)
					<div class="control-group">
						@Html.LabelFor(model => model.Ky_hieu, new { @class = "control-label" })
						<div class="controls">
							@Html.TextBoxFor(Model => Model.Ky_hieu, new { @class = "medium m-wrap" })
						</div>
					</div>

					<div class="control-group">
						@Html.LabelFor(model => model.Ten_mon, new { @class = "control-label" })
						<div class="controls">
							@Html.TextBoxFor(Model => Model.Ten_mon, new { @class = "medium m-wrap" })
						</div>
					</div>

					<div class="control-group">
						@Html.LabelFor(model => model.Ten_tieng_anh, new { @class = "control-label" })
						<div class="controls">
							@Html.TextBoxFor(Model => Model.Ten_tieng_anh, new { @class = "medium m-wrap" })
						</div>
					</div>

					<div class="control-group">
						@Html.LabelFor(model => model.PLAN_BoMon.Bo_mon, new { @class = "control-label" })
						<div class="controls">
							@Html.DropDownList("ID_bm", null, new { @class = "medium m-wrap" })
						</div>
					</div>

					<div class="control-group">
						@Html.LabelFor(model => model.STU_He.Ten_he, new { @class = "control-label" })
						<div class="controls">
							@Html.DropDownList("ID_he_dt", null, new { @class = "medium m-wrap" })
						</div>
					</div>
					<div class="form-actions">
						<button class="btn blue" type="submit">Create</button>
						<button class="btn" type="button">Cancel</button>
					</div>
	}
			</div>
		</div>
	</div>
</div>

@*@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MARK_MonHoc</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ky_hieu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ky_hieu)
            @Html.ValidationMessageFor(model => model.Ky_hieu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ten_mon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ten_mon)
            @Html.ValidationMessageFor(model => model.Ten_mon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ten_tieng_anh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ten_tieng_anh)
            @Html.ValidationMessageFor(model => model.Ten_tieng_anh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_bm, "PLAN_BoMon")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_bm", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_bm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_he_dt, "STU_He")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_he_dt", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_he_dt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_nhom_hp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_nhom_hp)
            @Html.ValidationMessageFor(model => model.ID_nhom_hp)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
