@model IEnumerable<StudentPortal.STU_He>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_he)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ma_he)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_he)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quy_che)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_he_en)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_bac_hoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loai_dao_tao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loai_dao_tao_en)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_he)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_he)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_he)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quy_che)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_he_en)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_bac_hoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loai_dao_tao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loai_dao_tao_en)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
